@font-face {
  font-family: slab;
  src: url(../fonts/Harman-Slab.otf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: slab-inline;
  src: url(../fonts/Harman-Slab-Inline.otf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: elegant;
  src: url(../fonts/Harman-Elegant.otf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.typo.typo_family__cutthroat {
  font-family: slab, "Times New Roman", Times, serif;
  text-transform: uppercase; }

.typo.typo_family__cutbow {
  font-family: slab-inline, "Times New Roman", Times, serif;
  text-transform: uppercase; }

.typo.typo_family__rainbow {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

.typo.typo_family__silver {
  font-family: elegant, "Palatino Linotype", "Book Antiqua", Palatino, serif; }

.typo.typo_family__brown {
  font-family: Arial, Helvetica, sans-serif; }

.typo.typo_size__barefoot {
  font-size: 8px; }

.typo.typo_size__flipflop {
  font-size: 12px; }

.typo.typo_size__midboot {
  font-size: 16px; }

.typo.typo_size__highboot {
  font-size: 20px; }

.typo.typo_size__wellington {
  font-size: 24px; }

.typo.typo_size__wader {
  font-size: 28px; }

#splash {
  background-image: url("./img/100-wave-frames/1.jpg");
  height: 100vh;
  width: 100%; }

h1 {
  color: red; }
