<html>
<head>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <div id="wrapper">
    <!-- <div id="wave-frame-holder"> -->
      <div id="splash">
        <div class="animation__fade"></div>
        <div class="jumbotron">
          <h1 class="typo typo_family__cutthroat typo_size__wader">Welcome to Colwick Fly Fishing Club</h1>
        </div>
      </div>
    <!-- </div> -->

    <!-- <div id="wave-frame-holder"></div> -->

    <div id="about">
      <h2 class="typo typo_family__cutthroat typo_size__wellington">Welcome</h2>
      <aside>
        <p>Colwick Fly Fishers Club was formed to bring fly fishers together in a spirit of friendship, enjoyment, and mutual understanding to further the sport of fly fishing.</p>
        <p>Our fly fishing is focused on Colwick Country Park Trout Lake just outside the contre of Nottingham.</p>
        <p>New members of all abilities are always welcome from complete beginner to experts.</p>
        <p>We also have an active junior section which provides fly tying instruction, and fishing days.</p>
        <p>We aim to share our knowledge and experience especially with beginners.</p>
      </aside>
    </div>
  </div>
  <div id="news" class="typo typo_family__cutbow typo_size__flipflop"> Hello </div>
  <div id="contact"></div>
  <script src='vendor/jquery/dist/jquery.min.js'></script>
  <script src="js/hompageScrollAnimation.js"></script>
</body>
  </html>
