#splash {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  position: fixed;
  display: inline;
  height: 100vh;
  width: 100%;
}

#wave-frame-holder {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: "/img/100-wave-frames/100.jpg";
  display: inline;
}

#about {
  min-height: 100vh;
  margin-top: 100vh;
}

#news {}
#contact {}
