#wrapper {
  position: relative;
  width: 100%;
  // display: none;

}
#splash {
  z-index: 1;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  display: inline;
  min-height: 100vh;
  width: 100%;

  .animation{
    &__fade {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      position: fixed;
      display: inline;
      min-height: 200vh;
      width: 100%;
      background-color: $cream;
    }
  }

  .jumbotron {
    position:absolute;
    z-index: 3;
    top: 20vh;
    left:0;
    padding: 5;

    h1 {
      color: $slate;
    }
  }
}

nav {
  height: 44px;
  width: 100%;
  background-color: $white;
  position: absolute;
  z-index: 100;
  top: 200vh;
  margin: 0;
}

#about {
  height: 100vh;
  top: 300vh;
  position: absolute;
  z-index: 10;
  padding: 15 5 20 5;
  background-color: $glaucous;
}

#news {}
#contact {}
